{% extends 'homepage.html' %}
{% block content  %}
    <form method="POST"><center>
        <h1>REGISTRATION</h1>
        <label for="">Username</label>
        <input name="Username" type="text"><br><br>
        <label for="">Mobile</label>
        <input name="Mobile" type="text"><br><br>
        <label for="">Address</label>
        <input name="Address" type="text"><br><br>
        <label for="">Email</label>
        <input name="Email" type="text"><br><br>
        <label for="">Password</label>
        <input name="Password" type="text"><br><br>
        <button>submit</button><br><br>
        <marquee>registrations are open register now</marquee></center>
    </form>
{% endblock %}
